@import './theme.scss';
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}

hr {
  margin: 20px 0 0 0;
  color: red;
  border: 0.2px solid #ddd;
}

.progress {
   height: 4.5px;
   width: 145.6px;
   background: linear-gradient(#26A69A 0 0), #dbdcef;
   background-size: 0% 100%;
   background-repeat: no-repeat;
   animation: progress-animation 6s infinite;
}

@keyframes progress-animation {
   0% {
      background-size: 0% 100%;
   }
   100% {
      background-size: 100% 100%;
   }
}
