.container {
  height: 100vh;
  width: 800px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
}

.titlebar {
  height: 30px;
  width: 800px;
  margin: 0 auto;
  background: transparent;
  display: flex;
  align-items: center;
  padding: 0 10px;
  -webkit-app-region: no-drag;

  /* Left drag region fills space */
  .drag-region {
    -webkit-app-region: drag;
    flex: 1;
    height: 100%;
  }

  /* Right buttons container matches main-content width */
  .topbar-buttons-container {
    width: 800px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
      -webkit-app-region: no-drag;
      background: white;
      border: 0;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: box-shadow 0.2s ease;

      &:hover {
        color: #008080;
      }

      svg {
        width: 18px;
        height: 18px;
      }
      &.close-fab svg {
        width: 22px;
        height: 22px;
      }
      
    }
  }
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  max-height: 100%;
}